html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

/*custom*/
/*#navbar-avatar a.dropdown-toggle{
    padding: 5px 15px;
}*/
li.active{
    background: #337ab7;
}
li.active a{
    color: #fff;
}
li.active a:hover{
    background: #337ab7;
}
li.list-group-item a{
    margin:-10px -15px;
}
